<div class="footer">
    <div class="footer__container">
        <a href="https://x.com/AmosTmg213">connect</a>
        <a href="https://github.com/AmosTmg">contribute</a>
        <a href="https://www.linkedin.com/in/amostmg/">linkedIn</a>
    </div>
</div>