<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weatherly</title>
    <link rel="stylesheet" href="css/styles_main.css">
</head>
<body>
    <div class="main__container" id="main-container">
        <div class="main__weather" id="main-weather">
            <div class="weather__icon" id="weather-icon">

            </div>
            <div class="weather__temp" id="weather-temp">

            </div>
        </div>
        <div class="weather__data" id="weather-data">
            <div class="current__weather" id="current-weather">

            </div>
            <div class="current__weather_info" id="current-weather-info">

            </div>
        </div>
        <div class="extra__weather_data" id="extra-weather-data">
            <div class="humidity__tab">

            </div>
        </div>
    </div>
</body>
</html>